@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
:root{
    --fontehand:  'Great Vibes', cursive;
    --fontetitle: 'Protest Strike', sans-serif;

    
}

h1{
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-family: var(--fontetitle);
}
p{
    text-indent: 30px;
    margin: 0px;
}
a{
    padding: 10px;
}