@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root{
    --fontehand:  'Great Vibes', cursive;

    
}
div.logo{
    background-image: url(../imgs/Icons8-Windows-8-Science-Physics.ico);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 60px;
}
h1{
    padding-top: 54px;
    height: 99px;
    margin: auto;
    text-align: center;
    font-size: 76px;
    font-family: var(--fontehand);
}