@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
:root{
    --fontehand:  'Great Vibes', cursive;
    --fontetitle: 'Protest Strike', sans-serif;
    --verde1: #1FED47;
    --verde2: #4CED28;
    --ciano:#2AEBD2;
    --ciano2: #2AEB91;
    --ciano3: #2AC5EB;


    
}

h1{
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-family: var(--fontetitle);
}
p{
    text-indent: 30px;
    margin: 0px;
}
a{
    padding: 10px; color: white; text-decoration: none; font-size: larger;
}
h2{
    margin-top: 10px ;
    margin-bottom: 10px;
}
nav{background-color: var(--verde1); border-radius: 10px;width: 900px; height: 35px;}